<div class="index">
  <div class="search">
    {{view MA.TypeaheadTextField controllerBinding="this" selectedMovieBinding="selectedMovie" class="movie-autocomplete" remote="/api/movies?q=%QUERY" placeholder="Start with a movie title.."}}
    <button class="btn btn-default find-recommendations" {{action query selectedMovie}}>Find Recommendations</button>
  </div>

  <ul class="recommendations">
    {{#each movie in movieToRecommend.recommendations}}
    <li {{action 'recommendationSelected' movie}}>{{movie.movie_title}} ({{movie.production_year}})</li>
    {{else}}
    {{/each}}
  </ul>
<div>
